# Machine-specific config files/dirs
bash/local.sh
tmux/tmux.local.conf
alacritty/local.toml
vim/local.vim
nvim/lua/local.lua

# todos dir for use with todo command
.todos/

# notes and todos for use with shlf command
shlf/.shelf

# theme config file
.theme

# tmux sessions setup
tmux/sessions.sh
tmux/tmux.sessions.conf

# command presets to filter with the go command
.actions_pre
.actions_post
