# Machine-specific config files/dirs
bash/local.sh
tmux/tmux.local.conf
alacritty/local.toml
vim/local.vim
nvim/lua/local/

# todos dir for use with todo command
.todos/

# theme config file
.theme

# tmux sessions setup
tmux/.sessions

# command presets to filter with the go command
.actions_pre
.actions_post
